<%= form_for @question, html: {class: 'form-horizontal col-sm-8'} do |f| %>
    <div class="form-group">
      <%= f.label :question, class: 'col-sm-2 control-label' %>
      <div class="col-sm-6">
        <%= f.text_area :question, rows: 6, autofocus: true, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit 'Save', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>