<div style="width: 900px; margin: auto">
  <h1>Questions</h1>

  <p>
    <%= link_to 'New question', new_question_path %>
  </p>

  <table class="table table-hover col-sm-12">
    <thead>
    <tr>
      <th class="col-sm-4">Question</th>
      <th class="col-sm-2">Answers</th>
      <th class="col-sm-2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @questions.each do |question| %>
        <tr>
          <td><%= question.question %></td>
          <td><%= question.answers.count %></td>
          <td>
            <%= link_to 'View, ', question_path(question) %>
            <%= link_to 'Edit, ', edit_question_path(question) %>
            <%= link_to 'Remove', question_path(question),
                        method: :delete,
                        data: {confirm: 'Вы действительно хотите удалить этот вопрос?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>