<div>
  Test: <%= link_to @test.name, tests_path(@test) %>
</div><br/>

<div>
  Description: <%= @test.description %>
</div><br/>

<div>
  Questions: <%= link_to @test.question, question_path(@test.id) %>
</div><br/>

<div>
  Answers: <%= link_to @questions.answer, question_path(@test.id) %>
</div><br/>