<h1 class="text-center">Edit <%= resource_name.to_s.humanize %></h1>
<hr/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal' }) do |f| %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.email_field :email, class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :email %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :password %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :password_confirmation %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :current_password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit 'Update', class: 'btn btn-success' %>
      </div>
    </div>
<% end %>

<h3 class="text-center">Cancel my account</h3>
<hr/>

<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <h5>Unhappy?</h5>
    <%= button_to 'Cancel my account',
                  registration_path(resource_name),
                  data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %>
  </div>
</div>