    <div style="margin-left: 245px;">
      <h1>Sign up</h1>
    </div>
    <hr/>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :name %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.email_field :email, class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :email %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">

        <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>

        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :password %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :password_confirmation %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit 'Sign up', class: 'btn btn-success' %>
      </div>
    </div>

<% end %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-10">
    <%= render 'devise/shared/links' %>
  </div>
</div>
