<div style="width: 900px; margin: auto">
  <h1>Answers</h1>

  <p>
    <%= link_to 'New answer', new_answer_path %>
  </p>

  <table class="table table-hover col-sm-12">
    <thead>
    <tr>
      <th class="col-sm-4">Answers</th>
      <th class="col-sm-2">Is correct</th>
      <th class="col-sm-2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @answers.each do |answer| %>
        <tr>
          <td><%= answer.answer %></td>
          <td><input type="radio" name="blankRadio" id="blankRadio1" value="option1" aria-label="..."></td>
          <td>
            <%= link_to 'View, ', answer_path(answer) %>
            <%= link_to 'Edit, ', edit_answer_path(answer) %>
            <%= link_to 'Remove', answer_path(answer),
                        method: :delete,
                        data: {confirm: 'Вы действительно хотите удалить этот ответ?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>