    <div style="margin-left: 245px;">
      <h1>Log in</h1>
    </div>
    <hr/>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :email %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-2 control-label' %>
      <div class="col-sm-2">
        <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
        <%= render 'devise/shared/field_errors', object: resource, field_name: :password %>
      </div>
    </div>

    <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <div class="checkbox">
              <%= f.label :remember_me do %>
                  <%= f.check_box :remember_me %> Remember me
              <% end %>
            </div>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit 'Log in', class: 'btn btn-success' %>
      </div>
    </div>

<% end %>

<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <%= render "devise/shared/links" %>
  </div>
</div>
