<div style="width: 900px; margin: auto">
  <h1>Tests</h1>

  <p>
    <%= link_to 'Create new test', new_test_path %>
  </p>

  <table class="table table-hover col-sm-12">
    <thead>
    <tr>
      <th class="col-sm-4">Name</th>
      <th class="col-sm-2">Link</th>
      <th class="col-sm-2">Questions</th>
      <th class="col-sm-2">Results</th>
      <th class="col-sm-2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @tests.each do |test| %>
        <tr>
          <td><%= test.name %></td>
          <td><a href="#">Test</a></td>
          <td><%= test.questions.count %></td>
          <td>results</td>
          <td>
            <%= link_to 'View, ', test_path(test) %>
            <%= link_to 'Edit, ', edit_test_path(test) %>
            <%= link_to 'Remove', test_path(test),
                        method: :delete,
                        data: {confirm: 'Вы действительно хотите удалить этот тест?'} %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>